src/main/resources/ability.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="com/bancaya/soap/models/abilities"
           targetNamespace="com/bancaya/soap/models/abilities" elementFormDefault="qualified">

    <xs:element name="AbilitiesRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pokemon" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="AbilitiesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="jsonResponse" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>