src/main/resources/experience.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="com/bancaya/soap/models/experience"
           targetNamespace="com/bancaya/soap/models/experience" elementFormDefault="qualified">

    <xs:element name="ExperienceRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pokemon" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ExperienceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="jsonResponse" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>