src/main/resources/id.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="com/bancaya/soap/models/id"
           targetNamespace="com/bancaya/soap/models/id" elementFormDefault="qualified">

    <xs:element name="IdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pokemon" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="IdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="jsonResponse" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>