src/main/resources/name.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="com/bancaya/soap/models/name"
           targetNamespace="com/bancaya/soap/models/name" elementFormDefault="qualified">

    <xs:element name="NameRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pokemon" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="NameResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="jsonResponse" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>